body {
  font-family: "source-han-sans-korean", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width : 350px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  min-height: 100vh;
  overflow-x : hidden;
  margin:0px auto;
  position: relative;
  /* background: #F2E9EB; */
  /* height: 50rem; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', pln-hyeongulim,
    monospace;
}
